@font-face {
  font-family: 'fc_iconic_normal';
  src: url('/fonts/fc_iconic_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'fc_iconic_bold';
  src: url('/fonts/fc_iconic_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1.125em;
  background-color: #F5F5F7;
  font-family: 'fc_iconic_normal', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-datepicker__aria-live {
  position: absolute;
  clip-path: circle(0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  white-space: nowrap;
}

.content-styled {
  background-color: #F2F2F2;
  border-radius: 15px;
}

.bg-grey {
  background-color: #F2F2F2;
}